body {
    font: normal 15pt Arial;
    background-color: rgba(86, 86, 221, 0.89);
    color: white;
}

header {
    color: white;
    text-align: center;
}

div {
    padding-top: 10px;
    background-color: white;
    color: black;
    
}

div#res {
    
    background-color: white;
    color: black;
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}